TOKEN='telegram-bot-token'
ADMIN_ID='123456789'

TWS_USERID='ibkr-user'
TWS_PASSWORD='ibkr-password'
TRADING_MODE='paper'
READ_ONLY_API='yes'
TIME_ZONE='Etc/UTC'
TWOFA_TIMEOUT_ACTION='restart'
RELOGIN_AFTER_TWOFA_TIMEOUT='yes'
# TWOFA_EXIT_INTERVAL='60'

IBKR_CLIENT_ID='0'
# IBKR_PORT='4004'
# IBKR_ACCOUNT_ID='U1234567'
# IBKR_TIMEOUT_MS='30000'
IBKR_FLEX_TOKEN='flex-web-service-token'
# IBKR_FLEX_QUERY_ID='123456'
# IBKR_FLEX_PERIOD_DAYS='365'
# IBKR_FLEX_HISTORY_DAYS='365'
# EYRI_DATABASE_PATH='data/eyri.sqlite'
# VNC_SERVER_PASSWORD='change-me'
